<mat-toolbar class="topnav">
  <div class="link">
    <a
      mat-button
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a mat-button routerLinkActive="active" routerLink="/place-list">Mekanlar</a>
    <a mat-button routerLinkActive="active" routerLink="/organization-cost"
      >Organizasyon Gelir Gider</a
    >
    <a mat-button routerLinkActive="active" routerLink="/reservation-type">Rezervasyon Tipi</a>

  </div>

  <button mat-raised-button type="button" class="button" (click)="onLogout()">
    Logout
  </button>
</mat-toolbar>
