<mat-toolbar class="topnav">
  <div class="link">
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a
      mat-button
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      >Ana Sayfa</a
    >
  </div>

  <!-- <mat-form-field appearance="fill">
    <mat-label translate>changeLanguage</mat-label>
    <mat-select
      [formControl]="language"
      (selectionChange)="switchLang(language.value)"
    >
      <mat-option *ngFor="let lang of langs" [value]="lang">
        {{ lang | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <div class="btn">
    <ng-container>
      <mat-button-toggle-group
        [formControl]="language"
        (change)="switchLang(language.value)"
      >
        <mat-button-toggle *ngFor="let lang of langs" [value]="lang">{{
          lang | translate
        }}</mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>

    <button mat-raised-button type="button" class="button" (click)="onLogout()">
      Logout
    </button>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let link of links"
    [routerLink]="link.path"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</nav>
