<mat-toolbar class="topnav">
  <div class="link">
    <a
      mat-button
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      >Ana Sayfa</a
    >
  </div>

  <button mat-raised-button type="button" class="button" (click)="onLogout()">
    Logout
  </button>
</mat-toolbar>

<nav mat-tab-nav-bar [tabPanel]="tabPanel" >
  <a
    mat-tab-link
    *ngFor="let link of links"
    [routerLink]="link.path"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ link.label }}
  </a>
  <mat-tab-nav-panel #tabPanel ></mat-tab-nav-panel>
</nav>
