<div class="link">
  <a
    mat-button
    routerLinkActive="active"
    routerLink="/"
    [routerLinkActiveOptions]="{ exact: true }"
    >Ana Sayfa</a
  >

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header> Yonetim Paneli </mat-expansion-panel-header>
      <mat-action-row *ngFor="let item of menu">
        <a mat-button routerLinkActive="active" routerLink="{{ item.url }}">
          {{ item.name }}
        </a>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<button mat-raised-button type="button" class="button" (click)="onLogout()">
  Cikis
</button>
