<div mat-dialog-content class="dialog-container">
    <h3 mat-dialog-title>Organizasyon Durumu Ekle</h3>
  
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div class="form-group" >
        <mat-form-field class="form-element" appearance="outline">
          <mat-label>Ad</mat-label>
          <input type="text" matInput required formControlName="name" />
          <mat-error *ngIf="!form.valid && form.touched">
            Ad <strong>zorunlu!</strong>
          </mat-error>
        </mat-form-field>
  
        <button class="btnSave" mat-raised-button type="submit">Kaydet</button>
      </div>
    </form>
  </div>
  