<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-element">
      <mat-label>Username</mat-label>
      <input
        matInput
        required
        type="text"
        placeholder="Enter Username"
        name="username"
        id="username"
        formControlName="username"
        #userInput
      />
      <mat-error *ngIf="!form.valid && form.touched">
        Lutfen kullanici giriniz!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Password</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="Enter Password"
        name="password"
        id="password"
        formControlName="password"
        minlength="4"
      />
      <mat-error *ngIf="!form.valid && form.touched">
        Lutfen sifre giriniz!
      </mat-error>
    </mat-form-field>

    <div class="button">
      <button class="btnLogin" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
        Login
      </button>
    </div>
</form>
