<div mat-dialog-content class="dialog-container">
  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="form-group">
      <mat-form-field class="form-element">
        <mat-label>Bakiye</mat-label>
        <input type="number" matInput formControlName="amount" />
      </mat-form-field>

      <mat-form-field class="form-element">
        <mat-label>Aciklama</mat-label>
        <input maxlength="256" matInput formControlName="description" />
      </mat-form-field>
    </div>

    <div class="action-btn">
      <button class="btnSave" mat-raised-button type="submit">Kaydet</button>
    </div>
  </form>
</div>
