mat-drawer-container {
  height: 100vh;
  display: flex;

  mat-drawer {
    max-width: 160px;
    text-align: center;
    align-content: space-between;
    overflow: hidden;
  }

  .screen {
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: flex-start;
    align-items: stretch;
  }
}
