mat-drawer-container {
  background-color: blue;
  display: flex;
  width: 100%;

  mat-drawer {
    max-width: 200px;
    text-align: center;
    align-content: space-between;
  }

  mat-drawer-content {
    width: 100%;
    // .head {
    // justify-content: space-between;
    .main {
      background-color: lightgray;
      height: 90vh;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    // ::ng-deep .ng-star-inserted{
    //   width: 100%;
    // }
  }
}
