<div mat-dialog-content class="dialog-container">
  <h3 mat-dialog-title>Organizasyon Gelir / Gider Ekle</h3>

  <form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="form-group">
      <mat-form-field class="form-element">
        <input type="text" matInput required formControlName="name" />
        <mat-error *ngIf="!form.valid && form.touched">
          Ad <strong>zorunlu!</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="number" matInput required formControlName="cost" />
        <mat-error *ngIf="!form.valid && form.touched">
          <mat-error *ngIf="form.get('cost').errors?.['required']">
            Lutfen Maliyet giriniz!
          </mat-error>
          <mat-error *ngIf="form.get('cost').errors?.['pattern']">
            Gecerli bir deger giriniz!</mat-error
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element">
        <input type="number" matInput required formControlName="salePrice" />
        <mat-error *ngIf="!form.valid && form.touched">
          <mat-error *ngIf="form.get('salePrice').errors?.['required']">
            Lutfen Satis Ucreti giriniz!
          </mat-error>
          <mat-error *ngIf="form.get('salePrice').errors?.['pattern']">
            Gecerli bir deger giriniz!</mat-error
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element" appearance="outline">
        <mat-label>Salon / Mekan Adi</mat-label>
        <mat-select formControlName="placeId" required>
          <mat-option *ngFor="let place of places" [value]="place.id">
            {{ place.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="!form.get('placeId').valid && form.get('placeId').touched"
        >
          Lutfen Salon / Mekan seciniz!
        </mat-error>
      </mat-form-field>

      <section class="check">
        <mat-checkbox type="checkbox" formControlName="isPerUser">
          Kullanici Basina
        </mat-checkbox>

        <mat-checkbox type="checkbox" formControlName="isActive">
          Aktif
        </mat-checkbox>
      </section>

      <div class="action-btn">
        <button class="btnSave" mat-raised-button type="submit">Kaydet</button>
      </div>
    </div>
  </form>
</div>
<!-- <div class="form-group">
        <input
          placeholder="Ad*"
          type="text"
          name="name"
          id="name"
          formControlName="name"
          class="form-control"
        />
        <span
          *ngIf="!form.get('name').valid && form.get('name').touched"
          class="help-block"
        >
          Lutfen Ad giriniz!
        </span>
      </div>
      <br />
      <div class="form-group">
        <input
          placeholder="Maliyet*"
          type="number"
          id="cost"
          name="cost"
          formControlName="cost"
          class="form-control"
        />
        <span
          *ngIf="!form.get('cost').valid && form.get('cost').touched"
          class="help-block"
        >
          Gecerli bir deger giriniz
        </span>
      </div>
      <br />
      <div class="form-group">
        <input
          placeholder="Satis Ucreti*"
          type="text"
          id="salePrice"
          name="salePrice"
          formControlName="salePrice"
          class="form-control"
        />
        <span
          *ngIf="!form.get('salePrice').valid && form.get('salePrice').touched"
          class="help-block"
        >
          <span *ngIf="form.get('salePrice').errors.required">
            Lutfen Satis Ucreti giriniz!</span
          >

          <span *ngIf="form.get('salePrice').errors?.pattern">
            Gecerli bir deger giriniz!</span
          >
        </span>
      </div> -->
<!-- <br />
      <div>
        <select class="custom-select" formControlName="placeId">
          <option disabled value="null">Salon / Mekan Adi*</option>
          <option [value]="place.id" *ngFor="let place of places">
            {{ place.name }}
          </option>
        </select>
        <span
          *ngIf="!form.get('placeId').valid && form.get('placeId').touched"
          class="help-block"
        >
          Lutfen Salon / Mekan seciniz!
        </span>
      </div> -->
<!-- <br />
      <input
        type="checkbox"
        id="isPerUser"
        name="isPerUser"
        formControlName="isPerUser"
        class="form-control"
      />
      <label> Kullanici Basina</label>
      <br />
      <input
        type="checkbox"
        id="isActive"
        name="isActive"
        formControlName="isActive"
        class="form-control"
      />
      <label> Aktif</label>
      <br /> -->
