.container-PT {
  margin: 20px;

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-start;

  .container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    .container-grid-card {
      //   width: 33%;
      //   display: flex;
      //   flex-direction: row;
      //   flex-wrap: wrap;
      :hover {
        background-color: rgb(240, 240, 240);
        transition: 0.25s;
      }

      .container-grid-card-mat {
        width: 100%;
        height: 140px;
        // margin-top: 15px;
        // margin-left: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .card {
    margin-top: 20px;

    .card-content-header {
      height: 60px;
      padding-left: 20px;
      display: flex;
      align-items: last baseline;
      background-color: #ebebee;
    }

    .card-content-box {
      display: flex;
      height: 214px;
      width: 100%;
      padding: 20px;

      mat-card {
        height: 100%;
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .box-button {
        display: flex;
        flex-direction: column;
        margin-left: 20px;


        button{
          margin-bottom: 16px;
        }
      }
    }

    .card-table {
      padding: 0;

      .table {
        ::ng-deep .mat-mdc-row:hover {
          background-color: rgb(238, 237, 237);
          transition: 0.1s;
        }
        ::ng-deep .mat-mdc-row {
          cursor: pointer;
        }
      }
    }
  }
}
