// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

html {
  width: 100%;
  height: 100%;
  overflow: hidden;

  body {
    margin: 0;
  }
}

// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: stretch;
//   margin: 15px;
//   background-color: #ffff;
//   border-radius: 5px;

//   .searchbox {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 10px;

//     mat-label {
//       font-size: 20px;
//     }

//     mat-form-field {
//       display: flex;
//       flex-direction: row;
//       width: 90%;
//       padding-left: 10px;

//       ::ng-deep .mat-mdc-form-field-icon-prefix {
//         width: 40px;
//       }
//       ::ng-deep .mat-mdc-form-field-subscript-wrapper {
//         width: 0;
//       }
//     }
//   }

//   table {
//     ::ng-deep .mat-mdc-row:hover {
//       background-color: rgb(238, 237, 237);
//       transition: 0.5s;
//     }
//     ::ng-deep .mat-mdc-row {
//       cursor: pointer;
//     }
//   }
// }
