// // // @import "tailwindcss/base";
// // // @import "tailwindcss/components";
// // // @import "tailwindcss/utilities";

html {
  width: 100%;
  height: 100%;
  overflow: hidden;

  body {
    margin: 0;
  }
}

.form-filter {
  .filter {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 15px;
    padding: 20px;

    .form-group {
      display: flex;
      flex-wrap: wrap;

      mat-form-field {
        width: 25vw;
        min-width: 25vw;
        margin-right: 15px;
        flex-grow: 3;
        flex-shrink: 1;

        .mdc-text-field {
          background-color: white;

          .mat-mdc-form-field-focus-overlay {
            background-color: white;
          }
        }
      }
    }

    button {
      margin-right: 15px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px;
  background-color: #ffff;
  border-radius: 5px;

  .searchbox {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ebebee;
    // padding-top: 0;

    .search {
      width: 60%;
      display: flex;

      .search-label {
        height: 40px;
        font-size: 20px;
        display: flex;
        align-items: center;
      }

      .search-card {
        min-width: 60%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: 50px;
        padding: 10px;
        margin-left: 15px;

        .search-input {
          width: 85%;
          height: 90%;
          outline: transparent;
          border-color: transparent;
        }
      }
    }

    // .searchbox-button {
    //   display: flex;
    //   align-self: center;
    // }
  }
}

// .card-table {
  // padding: 0;

  // .table {
  //   ::ng-deep .mat-mdc-row:hover {
  //     background-color: rgb(238, 237, 237);
  //     transition: 0.1s;
  //   }
  //   ::ng-deep .mat-mdc-row {
  //     cursor: pointer;
  //   }
  // }
// }