h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
}

.card-chart {
  width: 50%;
  height: 250px;
  .chart {
    // max-width: 380px;
    margin: 35px auto;
    padding: 0;
  }
}
