.dashboard {
  margin: 20px;

  .dashboard-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;


    mat-card {
      width: 33%;
      height: 120px;
      align-items: center;
      justify-content: center;
    }
  }

  .card-chart {
    display: flex;
    justify-content: space-between;

    .chart {
      width: 49%;
    }
  }
}
